@media (max-width: 480px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: rgba(132, 243, 217, 0.477);
    }

    .slide {
        height: 25vh;
    }

    .prev,
    .next {
        background-color: rgba(93, 93, 93, 0.5);
        color: rgb(255, 255, 255);
        font-size: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 2rem;
        text-align: center;
        cursor: pointer;
        border: none;
    }

    .card-container>div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 10px;
        height: auto;
        border: 1px solid #000000;
        border-radius: 20px;
        background-color: #f0f8ff;
        color: #000000;
        font-size: 10px;
        font-weight: bold;
        margin: 5px;
    }

    .card-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    #districtImage {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #districtImage img {
        background: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        max-width: 180px;
        height: 180px;
        max-height: 230px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-align: center;
        object-fit: cover;
    }

    .dropdown-border {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: auto;
        gap: 1px;
    }

    #dropdownContainer {
        position: relative;
        display: none;
        background-color: #ffffffb8;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      #zoneDropdownContainer {
        position: relative;
        display: none;
        background-color: #ffffffb8;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      select {
        width: 100%;
        height: 35px;
        padding-left: 10px;
        margin: 5px 0;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #ffffff;
        font-size: 12px;
      }

      button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 12px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
      }

    .box-topic-news {
        width: 95%;
        margin: 20px auto;
        padding: 1px;
        border: 1px solid #ddd;
        border-radius: 20px;
        background-color: #ffffffb8;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    }

    .box-topic-news img {
        margin: 1px;
        width: 100%;
        height: 100%;
        border-radius: 17px;
    }

    .box-topic-news h1 {
        margin-top: 10px;
    }

    .box-topic-news p {
        margin: 1rem 1rem;
    }

    .news-section {
        padding: 10px;
        max-width: 100%;
        margin: 0 auto;
    }

    .news-section h2 {
        color: #333;
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }

    .news-file {
        background-color: #ffffffb8;
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.725);
    }

    .news-file h3 {
        font-size: 16px;
    }

    .news-file p {
        font-size: 12px;
    }

    .news-file .download {
        display: flex;
        justify-content: end;
        margin-top: 6px;
        font-size: 10px;
        color: #2980b9;
        text-decoration: none;
    }

    .news-file .download:hover {
        text-decoration: underline;
    }

    .border-news {
        width: 95%;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #ddd;
        border-radius: 20px;
        background-color: #ffffffb8;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    }

    .announcement-section h1 {
        color: #333;
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }

    .announcement-section p {
        color: #666;
        text-align: center;
        font-size: 12px;
    }

    .decoration {
        height: 4px;
        background-color: #007bff;
        width: 100px;
        margin: 10px auto;
    }

    .b-show {
        margin-top: 20px;
    }

    .news-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 20px;
    }

    .news-item {
        border: 1px solid #ddd;
        height: 300px;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        text-align: center;
        font-size: small;
    }

    .news-item img {
        width: 100%;
        height: 230px;
        border-radius: 8px;
    }

    .news-item h1 {
        font-size: 1.2em;
        margin: 10px 0 0;
        color: #000000;
    }

    .news-item:hover {
        transform: scale(1.05);
    }

    .learn-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .learn-button button {
        padding: 8px 16px;
        font-size: 8px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .learn-button button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    .more-info-content {
        margin-top: 20px;
        text-align: center;
        animation: fadeIn 0.3s ease;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    
.border-contact {
    width: 100%;
    height: auto;
    margin: 30px auto;
    display: flex;
    justify-content: center;
  }
  
  .all-contact {
    width: 95%;
    height: auto;
    background-color: #ffffffb8;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.77);
    border-radius: 50px;
    display: grid;
    gap: 10px ;
  }
  
  .contact,
  .agency,
  .map {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-left: 15px;
  }
  
  .fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    border-radius: 6px;
    padding: 5px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    background: #3b5998;
    color: white;
  }
  
  .fa-twitter {
    border-radius: 6px;
    padding: 5px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    background: #55acee;
    color: white;
  }
  
  .fa-instagram {
    padding: 5px;
    font-size: 30px;
    width: 35px;
    border-radius: 6px;
    text-align: center;
    background-image: linear-gradient(155deg,
        #4c57a2 8%,
        #87439a 50%,
        #e02870 85%);
    position: relative;
  }
  
  .fa-youtube {
    border-radius: 6px;
    padding: 5px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    background: #bb0000;
    color: white;
  }
  
  .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.34);
  }
}