* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2D SPINNING KEYFRAMES */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 3D SPINNING KEYFRAMES */
@keyframes spin3D {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

/* ATTACH ANIMATION */
.spin {
  animation: spin 2s linear infinite;
}

.spin3D {
  animation: spin3D 1s ease-in-out infinite;
}

/* Optional: Center the image */
img {
  display: block;
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 20px;
}

.tease {
  display: flex;
  align-items: center;
  justify-content: center
}

body {
  font-family: Arial, sans-serif;
}

.cat {
  width: 100%;
}

@media (max-width: 450px) {
  .cat {
    width: 100%;

  }

  img {
    width: 100px;
    height: auto;
    border-radius: 50%;
  }

  .tease {
    display: flex;
    margin: 1px;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: 100%;
  }
}
